body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

ul {
  padding-left: 270px;
  margin: 0 400px 0 390px;
}

li {
  text-align: left;
}

.icon {
  margin: 0 auto;
  padding: 10px 0;
  display: block;
  width: 50px;
  height: 50px;
}

.cklik {
  background: rgb(91, 192, 81);
  border: 1px solid rgb(91, 192, 81);
  border-radius: 10px;
  color: white;
  padding: 5px 50px;
  margin: 0 auto;
  text-transform: uppercase;
}

.money {
  padding-right: 130px;
  margin: 10px 0 0;
  font-size: 48px;
}

.period {
  color: gray;
  padding-right: 110px;
  margin: 0;
}

.title-list {
  color: rgb(91, 192, 81);
  padding-right: 90px;
}
